/*Layout*/

/*Base*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $light;
  color: $regular-text-color;
  font-family: $regular-font;
  font-size: $regular-font-size;
  line-height: $regular-line;
  -webkit-font-smoothing: subpixel-antialiased;
}
