nav.navbar.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/index.html') Frontender
    nav.site-navigation
      a.link(href='catalog.html') Catalog
      a.link(href='catalog.html') About
      a.link(href='components.html') Help
