header.site-header
  .container.flex
    a.site-logo(href='/index.html') Frontender
    nav.site-navigation
      a.link(href='catalog.html') Catalog
      a.link(href='catalog.html') About
      a.link(href='components.html') Help
