header.site-header
  .container.flex.align-center
    h1.heading-3: a(href='/') HTML Template

    nav.site-navigation.flex.ml-auto
      a(href='/category.html') Home
      a(href='/category.html') Categories
      a(href='/about.html') About
