doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title HTML Template

    // build:css styles/libraries.min.css
    link(href='/node_modules/normalize.css/normalize.css' rel='stylesheet')
    // endbuild

    link(href="https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,400i,700|Press+Start+2P&display=swap&subset=cyrillic" rel="stylesheet")

    // build:css styles/main.min.css
    link(href='styles/main.css' rel='stylesheet')
    // endbuild

  body
    include layout/site-header
    block content
    include layout/site-footer

    // build:js scripts/libraries.min.js
    script(src='/node_modules/jquery/dist/jquery.slim.js')
    // endbuild

    // build:js scripts/main.min.js
    script(src='scripts/main.js')
    // endbuild
