doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#fafafa')
    title html-template

    // build:css styles/libraries.css
    link(rel='stylesheet', href='/node_modules/normalize.css/normalize.css')
    link(rel='stylesheet', href='/node_modules/slick-carousel/slick/slick.css')
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    include layout/site-header
    block content
    include layout/site-footer

    // build:js scripts/libraries.js
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/slick-carousel/slick/slick.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild

    //site layout end
