/*Components*/

/*Blocks*/
.section {
  @media (min-width: $tablet) {
    padding-top: 2rem;
    padding-bottom: .5rem;
    border-top: solid 1px $divide;
  }
  &:first-of-type {
    @media (min-width: $tablet) {
      margin-top: .5rem;
    }
  }
  &.borderless {
    border-top: none;
    padding-top: 0;
    &.gapped {
      border-top: none;
      padding-top: .5rem;
      @media (min-width: $tablet) {
        padding-top: 2rem;
      }
    }
  }
}

.block {
  display: block;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: $white;
  @media (min-width: $tablet) {
    margin-bottom: 1.5rem;
  }
  &.transparent, &.bordered {
    background-color: transparent;
    border: 1px solid $divide;
  }
  &.light-background {
    background-color: $light;
    border: none;
  }
}

.block-section {
  display: block;
  padding: 1rem;
  &.borderless {
    border: none;
  }
  @media (min-width: $tablet) {
    padding: 1.5rem;
    &.block-section-small {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  + .block-section:not(.block) {
    border-top: solid 1px $divide;
  }
}

.block-section-row {
  display: flex;
  .block-section + .block-section {
    border-left: solid 1px $divide;
    border-top: none;
  }
  + .block-section:not(.block) {
    border-top: solid 1px $divide;
  }
  &.borderless .block-section {
    border-left: none;
  }
}

a.block, .block.clickable, a.block-section {
  cursor: pointer;
  transition: box-shadow .2s;
  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  }
}
