/*Site Footer*/

.site-footer {
  background-color: $black-80;
  color: $white-80;
  font-weight: 600;
  .container {
    display: flex;
    align-items: center;
    height: 4rem;
    .developer {
      margin-left: auto;
    }
  }
}
