/*Forms*/

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
.input,
select,
.select,
textarea {
  display: block;
  width: 100%;
  outline: none;
  border: solid 1px $divide;
  padding: .3125rem;
  padding-left: .75rem;
  border-radius: 3px;
  transition: border-color .2s;
  &:focus {
    border-color: $brand-color;
  }
  &::placeholder, .placeholder {
    color: $secondary-text-color;
  }
  .placeholder {
    pointer-events: none;
  }
  &.inline {
    border: none;
    border-radius: 0;
    padding: 0;
    display: inline-block;
    width: auto;
  }
}

select,
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="week"],
input[type="month"] {
  padding-top: 0;
  padding-bottom: 0;
  height: 2rem;
}

textarea {
  resize: vertical;
}

select[multiple] {
  height: auto;
  padding: 0;
  option {
    min-height: 0;
    padding: .375rem .75rem;
  }
}

.animated-field {
  position: relative;
  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="month"],
  .input,
  select,
  .select,
  textarea {
    border: none;
    border-radius: 0;
    padding: 0;
    + label, + .label {
      position: absolute;
      top: 0;
      color: $secondary-text-color;
      white-space: nowrap;
      pointer-events: none;
      transition: all .2s;
    }
    &:not(.empty-state) {
      &:focus + label,
      &.active + label,
      &:-webkit-autofill + label {
        top: -.875rem;
        font-size: .625rem;
        line-height: .75rem;
      }
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
  + label:not(.button) {
    display: block;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    padding-left: 1.5rem;
    line-height: 1.25rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: .25rem;
      left: 0;
      width: .75rem;
      height: .75rem;
      border: solid 1px $divide;
      box-shadow: inset 0 1px 2px 0 $divide;
      border-radius: 2px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: .25rem;
      left: 0;
      width: .75rem;
      height: .75rem;
      border-radius: 2px;
      box-shadow: inset 0 1px 2px 0 $divide;
      background-color: $blue;
      opacity: 0;
      transition: opacity .2s;
    }
  }
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
  &.check-slider {
    + label {
      padding-left: 2.5rem;
      line-height: 1rem;
      font-weight: 600;
      &:before {
        top: 0;
        width: 2rem;
        height: 1rem;
        border: none;
        border-radius: .5rem;
        background: $light-grey;
        box-shadow: none;
        transition: background .2s;
      }
      &:after {
        content: '';
        top: 1px;
        left: 1px;
        width: .875rem;
        height: .875rem;
        background: $white;
        border-radius: 50%;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        opacity: 1;
        transition: transform .2s;
      }
    }
    &:checked + label {
      &:before {
        background: $green;
      }
      &:after {
        transform: translateX(1rem);
      }
    }
  }
}

input[type="radio"] + label:not(.button) {
  line-height: 1rem;
  &:before {
    top: 0;
    width: 1rem;
    height: 1rem;
    border: solid 1px $divide;
    box-shadow: inset 0 1px 2px 0 $divide;
    border-radius: 50%;
  }
  &:after {
    content: '';
    top: .3125rem;
    left: .3125rem;
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 $divide;
    background-color: $white;
    opacity: 0;
    transition: opacity .2s;
  }
}

input[type="radio"]:checked + label:not(.button) {
  &:before {
    border: none;
    background-color: $blue;
  }
  &:after {
    opacity: 1;
  }
}

input[type="radio"] + label:after {
  background: $brand-color;
}

input[type="file"] {
  display: none;
  + label {
    line-height: 2rem;
    color: $blue;
    cursor: pointer;
    transition: color .2s;
    &:hover {
      color: $brand-color;
    }
  }
}

input[type="range"],
input[type="color"] {
  display: block;
  width: 100%;
  height: 2rem;
}

.input-status {
  height: 0;
  transform: translateY(.125rem);
  color: $red;
  font-size: .625rem;
  line-height: .75rem;
  opacity: 0;
  transition: opacity .2s;
  &.active {
    opacity: 1;
  }
}

.button {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 3px;
  background-color: $brand-color;
  border: none;
  outline: none;
  text-align: center;
  color: $white;
  font-weight: 600;
  line-height: 1rem;
  cursor: pointer;
  transition: color .2s, background-color .2s, border-color .2s;
  &:hover {
    background: $brand-color-lighter;
  }
  &:active {
    background: $brand-color-darker;
  }
  &.small {
    padding: .25rem .5rem;
  }
  &.large {
    padding: .75rem 1.25rem;
  }
  &.rounded {
    border-radius: 1rem;
  }
  &.white {
    background-color: $white;
    color: $brand-color;
  }
  &.red {
    background-color: $red;
    &:hover {
      background-color: $red;
    }
    &:active {
      background-color: $red;
    }
  }
  &.blue {
    background-color: $blue;
    color: $white;
    &:hover {
      background-color: $blue-lighter;
    }
    &:active {
      background-color: $blue-darker;
    }
  }
  &.green {
    background-color: $green;
    &:hover {
      background-color: $green;
    }
    &:active {
      background-color: $green-darker;
    }
  }
  &.light {
    background-color: $light;
    color: $regular-text-color;
    &:hover {
      background-color: $light-darker;
    }
  }
  &.disabled {
    background-color: $light-grey;
    cursor: default;
    &:hover {
      background-color: $light-grey;
    }
  }
  &.ghost {
    box-shadow: inset 0 0 0 1px $brand-color;
    background-color: transparent;
    color: inherit;
    &:hover {
      background-color: $brand-color;
      color: $white;
    }
    &.red {
      box-shadow: inset 0 0 0 1px $red;
      &:hover {
        background-color: $red;
      }
    }
    &.blue {
      box-shadow: inset 0 0 0 1px $blue;
      &:hover {
        background-color: $blue;
      }
    }
    &.green {
      box-shadow: inset 0 0 0 1px $green;
      &:hover {
        background-color: $green;
      }
    }
  }
}
