//Colors
$black: #000;
$black-80: #333;
$black-40: #999;
$black-20: #ccc;
$black-10: rgba(0, 0, 0, .1);
$white: #fff;
$white-80: rgba(255, 255, 255, .8);
$white-40: rgba(255, 255, 255, .4);
$white-20: rgba(255, 255, 255, .2);
$white-10: rgba(255, 255, 255, .1);

$divide: $black-10;
$divide-light: $white-10;

$dark: $black-80;
$grey: $black-40;
$light-grey: $black-20;
$light: hsl(0, 0%, 95%);
$light-darker: hsl(0, 0%, 90%);

$brand-color: hsl(345, 100%, 50%);
$brand-color-lighter: hsl(345, 100%, 55%);
$brand-color-darker: hsl(345, 100%, 45%);

$red: hsl(345, 100%, 50%);
$red-lighter: hsl(345, 100%, 55%);
$red-darker: hsl(345, 100%, 45%);
$blue: hsl(210, 100%, 50%);
$blue-lighter: hsl(210, 100%, 55%);
$blue-darker: hsl(210, 100%, 45%);
$green: hsl(150, 100%, 50%);
$green-lighter: hsl(150, 100%, 60%);
$green-darker: hsl(150, 100%, 45%);
$yellow: hsl(30, 100%, 50%);
$yellow-lighter: hsl(30, 100%, 55%);
$yellow-darker: hsl(30, 100%, 45%);

//Fonts
$regular-text-color: $dark;
$secondary-text-color: $grey;
$regular-font: sans-serif;
$header-font: sans-serif;
$regular-font-size: .875rem;
$regular-line: 1.125rem;

//Screens
$tablet: 744px;
$tablet-album: 984px;
$desktop: 1080px;
$aside-shown: 1366px;
