//Colors
$brand-color: hsl(345, 100%, 50%);
$brand-color-lighter: hsl(345, 100%, 55%);
$brand-color-darker: hsl(345, 100%, 45%);

$black: #000;
$black-80: rgba(0, 0, 0, .8);
$black-40: rgba(0, 0, 0, .4);
$black-20: rgba(0, 0, 0, .2);
$black-10: rgba(0, 0, 0, .1);
$white: #fff;
$white-80: rgba(255, 255, 255, .8);
$white-40: rgba(255, 255, 255, .4);
$white-20: rgba(255, 255, 255, .2);
$white-10: rgba(255, 255, 255, .1);

$dark: $black-80;
$grey: $black-40;
$grey-light: $black-20;
$light-grey: $white-20;
$light: hsl(0, 0%, 95%);
$light-darker: hsl(0, 0%, 90%);

$divide: $black-10;
$divide-light: $white-10;

$red: hsl(345, 100%, 50%);
$red-lighter: hsl(345, 100%, 55%);
$red-darker: hsl(345, 100%, 45%);
$blue: hsl(210, 100%, 50%);
$blue-lighter: hsl(210, 100%, 55%);
$blue-darker: hsl(210, 100%, 45%);
$green: hsl(150, 100%, 50%);
$green-lighter: hsl(150, 100%, 60%);
$green-darker: hsl(150, 100%, 45%);
$yellow: hsl(30, 100%, 50%);
$yellow-lighter: hsl(30, 100%, 55%);
$yellow-darker: hsl(30, 100%, 45%);

//Fonts
$regular-text-color: $dark;
$secondary-text-color: $grey;
$regular-font: "Open Sans", sans-serif;
$header-font: "Merriweather", serif;
$display-font: "Press Start 2P", cursive;
$regular-font-size: .875rem;
$regular-line: 1rem;

//Screens
$tablet: 720px;
$tablet-album: 960px;
$desktop: 1024px;
