
$primary: deeppink;

$body-bg: #f2f2f2;

$btn-focus-width: 0;

$card-border-width: 0;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.card {
  box-shadow: $box-shadow-sm;
}

a.card {
  color: inherit;
  transition: $transition-base;
  &:hover {
    text-decoration: none;
    box-shadow: $box-shadow;
  }
}
