a(href='article.html').article-card.block
  .image.img-box.album(style="background-image: url('/img/article-thumb.jpg')")
  .body.block-section.block-section-small
    h3.title.heading-4 UFC. Нурмагомедов – Фергюсон: букмекеры ждут победы россиянина
    .description Мир смешанных единоборств ждет боя Хабиб Нурмагомедов – Тони Фергюсон: дата уже назначена. Мы же рассказываем, чего ждут от этого боя букмекеры.
  footer.footer.block-section.block-section-small.flex
    .icon.icon-thumbs-up 6
    .right-side.flex-right.flex
      .icon.icon-views 201
      .icon.icon-comments 16
