a(href='/article.html').card.mb-4
  img(src='/images/article.jpg').card-img-top
  .card-body
    h3.card-title.h5 Lorem ipsum dolor
    p.card-subtitle.mb-2.text-muted Lorem ipsum dolor sit.
    p.card-text.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi, modi
