a(href='/article.html').card.mb-4
  img(src='/images/article.jpg').card-img-top
  .card-body
    h2.card-title.h6 Lorem ipsum dolor
    p.card-text.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi, modi
