extends templates/layout
block content

  section.section.pb-5
    .container
      .breadcrumb.bg-transparent.mb-0.px-0
        a(href='/').breadcrumb-item Home
        a(href='/category.html').breadcrumb-item Category 1
        .breadcrumb-item.active Article

      .row
        .col-lg-9
          article.card
            .card-body
              h1.h2.card-title Lorem ipsum dolor.
              p.lead.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam atque earum enim esse et in ipsum laborum nemo perspiciatis provident quae qui quo reiciendis, sapiente soluta sunt totam voluptatibus.
            img(src='/images/article.jpg').img-fluid
            .card-body.px-5
              h2 Lorem ipsum dolor.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem error est ex excepturi fugit id in, ipsa laudantium magnam magni molestiae optio quos ratione rem vel velit voluptatem voluptates.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem dolorum eligendi et, ipsa ipsam libero nisi nobis officiis quos repudiandae soluta sunt! Ad aut consequuntur cupiditate dignissimos, dolore eius et, eveniet laborum necessitatibus porro quibusdam sint, vero vitae? Id in iure modi molestias necessitatibus perspiciatis possimus quae quasi repellendus totam veniam, veritatis vitae voluptatum! Amet doloribus eius fugit, laborum magni maiores quae quo?
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus ea ipsam laudantium obcaecati optio quae quas rem sunt tenetur. Atque earum eligendi eum eveniet illo optio, quidem temporibus voluptas.
              ul
                li Lorem ipsum dolor.
                li Lorem ipsum dolor sit.
                li Lorem ipsum dolor sit amet, consectetur.
        .col-lg-3
          aside.card.sticky-top(style='top: 72px;')
            .list-group.list-group-flush
              a(href='').list-group-item.list-group-item-action Lorem ipsum dolor.
              a(href='').list-group-item.list-group-item-action Lorem ipsum dolor.
              a(href='').list-group-item.list-group-item-action Lorem ipsum dolor.
