extends templates/layout
block content

  section.section
    .container
      h1.heading-2 Article
      .row
        .col-lg-9
          .block
            .block-section
              h1.heading-2 Lorem ipsum dolor.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam atque earum enim esse et in ipsum laborum nemo perspiciatis provident quae qui quo reiciendis, sapiente soluta sunt totam voluptatibus.
            img(src='/images/article.jpg')
            .block-section.content-paddings.content-text
              h2 Lorem ipsum dolor.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem error est ex excepturi fugit id in, ipsa laudantium magnam magni molestiae optio quos ratione rem vel velit voluptatem voluptates.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem dolorum eligendi et, ipsa ipsam libero nisi nobis officiis quos repudiandae soluta sunt! Ad aut consequuntur cupiditate dignissimos, dolore eius et, eveniet laborum necessitatibus porro quibusdam sint, vero vitae? Id in iure modi molestias necessitatibus perspiciatis possimus quae quasi repellendus totam veniam, veritatis vitae voluptatum! Amet doloribus eius fugit, laborum magni maiores quae quo?
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus ea ipsam laudantium obcaecati optio quae quas rem sunt tenetur. Atque earum eligendi eum eveniet illo optio, quidem temporibus voluptas.
              ul
                li Lorem ipsum dolor.
                li Lorem ipsum dolor sit.
                li Lorem ipsum dolor sit amet, consectetur.
        .col-lg-3
          .block
            .block-section
              ul
                li: a(href='') Lorem ipsum.
                li: a(href='') Lorem ipsum.
                li: a(href='') Lorem ipsum.
                li: a(href='') Lorem ipsum.
