extends templates/layout
block content

  section.pb-5
    .container
      .breadcrumb.bg-transparent.mb-0.px-0
        a(href='/').breadcrumb-item Home
        .breadcrumb-item.active Category 1

      h1.mb-4 Category 1

      .row
        .col-md-3
          .card.sticky-top(style='top: 72px;')
            .list-group.list-group-flush
              .list-group-item.bg-light: .h5.mb-0 Filters

              .list-group-item
                a(data-toggle="collapse" href="#priceGroup").h6.dropdown-toggle Price
                #priceGroup.collapse.show
                  .form-row.pt-2
                    .form-group.col
                      label from
                      input.form-control.form-control-sm
                    .form-group.col
                      label to
                      input.form-control.form-control-sm
                  input(type='range').custom-range

              .list-group-item
                a(data-toggle="collapse" href="#checkboxes").h6.dropdown-toggle Checkboxes
                #checkboxes.collapse.show
                  .custom-control.custom-checkbox.mb-1.mt-2
                    input(type='checkbox' id="cb1").custom-control-input
                    label(for='cb1').custom-control-label Checkox 1
                      |
                      |
                      span.badge.badge-secondary 2
                  .custom-control.custom-checkbox.mb-1
                    input(type='checkbox' id="cb2").custom-control-input
                    label(for='cb1').custom-control-label Checkox 2
                  .custom-control.custom-checkbox.mb-1
                    input(type='checkbox' id="cb3").custom-control-input
                    label(for='cb1').custom-control-label Checkox 3
                  .custom-control.custom-checkbox.mb-1
                    input(type='checkbox' id="cb4" disabled).custom-control-input
                    label(for='cb1').custom-control-label Checkox 4

            .card-footer.d-flex
              button.btn.btn-primary.flex-grow-1 Apply
              a(href='').btn.btn-link.flex-grow-1 Reset

        .col-md-9
          .btn-toolbar.align-items-center.mb-3
            .h6.mb-0.mr-2 Sort by
            .btn-group.btn-group-sm
              button.btn.btn-secondary.active by price
              button.btn.btn-secondary by price

            .h6.ml-auto.mb-0.mr-2 Sort by
            .btn-group.btn-group-sm
              button.btn.btn-secondary.active by price
              button.btn.btn-secondary by price

          .row
            - for (i = 0; i < 15; i++)
              .col-lg-4
                include templates/views/card

          .pagination.justify-content-center
            .page-item.disabled.active
              a(href='#').page-link Begin
            .page-item.disabled
              a(href='#').page-link Previous
            .page-item.active
              a(href='#').page-link 1
            .page-item
              a(href='#').page-link 2
            .page-item
              a(href='#').page-link 3
            .page-item
              a(href='#').page-link ...
            .page-item
              a(href='#').page-link 99
            .page-item
              a(href='#').page-link 100
            .page-item
              a(href='#').page-link Next
            .page-item
              a(href='#').page-link Last
