extends templates/layout
block content

  section.section
    .container
      h1.heading-2 Home

      .row
        - for (i = 0; i < 5; i++)
          if (i === 0)
            .col-sm-8
              include templates/views/article-card
          else
            .col-sm-4
              include templates/views/article-card

      .flex.justify-center
        a(href='category.html').button.ghost.rounded.large More
