extends templates/layout
block content

  section.section
    .container
      .row
        - for (i = 0; i < 5; i++)
          div(class= i === 0 ? 'col-sm-8' : 'col-sm-4')
            include templates/views/card

      .row.justify-center
        .col-sm-4
          a(href='category.html').button.ghost.large.display-block More
