extends templates/layout
block content

  section.section.hero-block
    .container
      h1.heading-1 HTML Template
      p.paragraph by Olzhas Kaliyev
      a.link Olzhas.Kaliyev.90@Gmail.com

  section.section
    .container
      h1.heading-2 Catalog
      .row
        - for (i = 0; i < 6; i++)
          .col-lg-4
            include templates/views/article-card
